@mixin easeOut {
    transition: all .8s ease-out;
}

@mixin easeInFast {
    transition: all .4s ease-in;
}

@mixin easeOutFast {
    transition: all .4s ease-out;
}

.anim-paused {

    opacity: 0;
    animation-play-state: paused !important;

    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}




.anim {
    opacity: 0;
}

@keyframes anim1 {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 1;
        transition: all .4s ease 2.5s;

        &.preload {
            opacity: 0;


            transition: none !important;
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -ms-transition: none !important;
            -o-transition: none !important;
        }
    }
}