// Smartphones
@include mediaXs {
    .section {
        &-home {
            &__left {

                height: 50vh;
                transform: translate(-50%, -55%);
            }

            &__title {
                & h1 {
                    font-size: 6rem;
                }

                & h2 {
                    font-size: 2.5rem;
                }
            }


        }

        .projects-gallery {
            &__item {
                margin: 0 auto;
            }

        }

    }

    .btn-arrow {
        width: 20%;
    }
}

// Tablets & Small Laptops
@include mediaSm {
    .section {
        // padding: 1.5rem 5rem;
        width: 80vw;

        .skills {
            &-box {
                // margin-bottom: 5rem;
                height: auto;
            }


        }

        .menu-contact__item {
            flex: 34%;
            margin: 3rem;

        }

        &-home {

            &__left {

                height: 50vh;
                transform: translate(-50%, -60%);
            }


            &__title {
                & h1 {
                    font-size: 7rem;
                }

            }


        }
    }


}

// Tablets & Small Laptops
@include mediaMd {
    .section {


        .projects-gallery {
            grid-template-columns: repeat(2, 1fr);


        }

        &-home {

            &__left {

                height: 55vh;
                transform: translate(-50%, -55%);
            }


            &__title {
                & h1 {
                    font-size: 8rem;
                }

                & h2 {
                    font-size: 2.5rem;
                }
            }


        }
    }


}

// Desktops & Laptops
@include mediaLg {


    .header,
    .footer {
        width: 70%;
    }

    // .header {
    //     padding: 4rem 10rem;
    // }

    .btn-arrow {
        width: 10%;
    }

    .footer {

        &__navigation {

            flex: 1;
        }
    }

    .menu {

        overflow: hidden;

        // &-wrapper {
        //     visibility: hidden;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100vh;
        //     z-index: 3;

        //     &.show {

        //         visibility: visible;
        //     }
        // }

        // &-branding,
        &-nav {
            visibility: visible;
            left: 0;
            // top: 0;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: transparent;
            width: auto;
        }

        &__item {
            transform: translate3d(0, 0, 0);
            // border: 1px solid greenyellow;
            // padding: 0 3rem;
            display: block;
            width: 100%;
        }

        &-btn {

            display: none;
        }
    }

    .menu__link {
        padding: 1rem 3rem;
        font-size: 2rem;
        // background-color: #fff;
    }

    .section {
        // padding: 1.5rem 8rem;
        width: 75vw;

        // .projects-gallery {
        //     grid-template-columns: repeat(3, 1fr);
        //     grid-gap: 7rem;

        //     //     &__item {
        //     //         margin: 0;
        //     //         max-height: 30%;
        //     //     }
        // }

        .section-about {




            &__info {
                padding: 0 2rem;
                display: grid;
                grid-gap: 40px;
                grid-template-areas:
                    'bio-image bio bio'
                    'col-1 col-2 col-3 ';
                grid-template-columns: repeat(3, 1fr);

            }



        }

        &-home {
            flex-direction: row;

            &__left {
                flex: 4;
                position: relative;
                top: 0;
                left: 0;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;
                transform: translate(0, 0);

                height: 40vh;
            }


            // &__left,
            // &__right {
            //     height: auto;
            //     max-height: 80%;
            // }

            &__right {
                height: 60vh;
                flex: 2;
                padding-left: 3rem;
                justify-content: flex-start;
            }


            &__title {

                padding-right: 3rem;
                border-right: 5px solid $primary-color;
                text-align: right;

                & h1 {
                    font-size: 5.5rem;
                }

                & h2 {
                    font-size: 2rem;
                }
            }

            &__img {
                // width: 100%;
                // height: auto;  
                height: 100%;
                width: auto;
            }
        }

        & .skills-container {
            width: 80%;
        }
    }

    .btn-cta__contact {
        margin-right: 3rem;
    }

    .footer__copyright,
    .side-bars,
    .menu-social {
        display: flex;
    }
}


// Widescreens
@include mediaXl {

    // .header,
    // .footer {

    //     padding-left: 20vw;
    // }

    .section {

        &-home {


            &__title {

                & h1 {
                    font-size: 7rem;
                }

                & h2 {
                    font-size: 2.5rem;
                }
            }


        }


    }

}

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////

// @include mediaXxl {

//     .section {
//         &-home {
//             &__title h1 {
//                 font-size: 6rem;
//             }
//         }
//     }
// }

// @include mediaXl {

//     .wrapper {
//         width: 85%;
//     }

//     .section {
//         &-home {
//             &__title h1 {
//                 font-size: 5rem;
//             }
//         }
//     }
// }

// // // Desktops & Laptops
// @include mediaLg {

//     .wrapper {
//         width: 90%;
//     }

//     .section {
//         &-home {
//             &__img {
//                 width: auto;
//                 height: 100%;
//             }
//         }
//     }
// }

// // // Desktops & Laptops
// @include mediaL {

//     // body {
//     //     height: 100%;
//     // }
//     .menu-nav {
//         display: none;
//         visibility: hidden;
//     }

//     .menu-btn {
//         display: block;
//     }

//     .wrapper {
//         width: auto;
//     }

//     .header,
//     .footer {
//         padding: 2.3rem 4rem;

//     }

//     .side-bars__menu {
//         display: none;
//     }

//     .section {
//         &-home {

//             &__title h1 {
//                 font-size: 4rem;
//             }
//         }
//     }
// }


// // // Tablets & Small Laptops
// @include mediaMd {

//     body {
//         background-image: none;
//         background-color: green;


//     }
// }



// // // Tablets & Small Laptops
// @include mediaMd {

//     body {
//         background-image: none;
//         background-color: green;


//     }
// }


// // //  Small Smartphones
// @include mediaSm {

//     // body {
//     //     background-image: none;
//     //     background-color: yellow;


//     // }
// }

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////




// //  Small Smartphones
// @include mediaXs {
//     .branding {
//         display: none;
//     }

//     .header {
//         justify-content: flex-end;
//         padding: 3rem
//     }


// }

// // Smartphones
// @include mediaSm {


//     .content__active-bars {
//         display: flex;
//     }

//     //home section

//     .home__title {
//         & h1 {
//             font-size: 5rem;
//         }

//         & h2 {
//             font-size: 2rem;
//         }
//     }


//     //footer
//     .current {
//         &-full {
//             // border: 1px solid yellowgreen;

//             font-weight: 300;
//             font-size: 1.8rem;
//         }

//         &-view {
//             font-weight: 900;
//             font-size: 2.4rem;

//         }
//     }
// }

// // Tablets & Small Laptops
// @include mediaMd {
//     .wrapper__main {
//         // width: 90vw;
//         max-width: 130rem;
//     }
// }

// // Desktops & Laptops
// @include mediaLg {

//     .menu,
//     .menu-social,
//     .copyright {
//         display: flex;
//     }

//     .menu {
//         flex: 1;

//         &-nav {
//             justify-content: center;
//         }

//         &-btn {
//             display: none;
//         }
//     }

//     .scroll {

//         width: fit-content;
//         transform: translate(-50%, -50%);
//     }

//     .home {
//         // border: 1px solid white;

//         height: 100%;
//         display: flex;
//         justify-content: center;

//         &__title {
//             border-right: 10px solid white;
//             padding-right: 3rem;

//             & h1 {
//                 margin-bottom: 3rem;
//                 font-size: 7rem;
//             }

//             & h2 {
//                 font-size: 3rem;
//             }
//         }

//         &__left-side {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;
//             justify-content: center;
//             // border: 1px solid white;
//             height: 70%;
//             min-width: 600px;
//             flex: 0;

//         }

//         &__right-side {
//             // border: 1px solid white;
//             position: static;

//             align-items: flex-start;
//             flex: 0;
//             padding: 0 0 0 3rem;
//             height: 80%;
//             opacity: 1;
//             display: flex;
//             justify-content: center;
//             z-index: -1;
//             margin-top: 6rem;

//             transform: translate(0, 0);
//         }
//     }

//     .btn-cta-contact {
//         position: static;
//     }

//     .portrait {
//         //     // position: absolute;
//         //     // top: 0;
//         //     // left: 0;
//         height: 100%;
//         margin: 0 auto;
//         //     width: 100%;

//     }

//     .menu-social-contact {
//         flex: 0;
//         display: grid;
//         grid-row-gap: 8rem;
//         grid-column-gap: 20rem;
//         margin-right: 0;
//     }
// }

// // Widescreens
// @include mediaXl {}