html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: $primary-color;
}

body {
    font-size: 1.6rem;
}


.section {
    & h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    & h2 {
        font-size: 1.7rem;
        font-weight: 300;
        color: $secondary-color;
    }

    // //home

    // .section-home__title {
    //     text-align: right;

    //     & h1 {
    //         font-size: 7rem;
    //         font-weight: 700;
    //         margin-bottom: 5rem;
    //     }

    //     & h2 {
    //         font-size: 2.7rem;
    //         font-weight: 300;
    //         color: $secondary-color;
    //     }
    // }


}

.about {
    &__title {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    &__desc {
        font-size: 1.4rem;
    }
}


.menu {
    &-contact {

        &__link {
            color: $primary-color;
            font-size: 1.6rem;
            text-decoration: none;
            transition: all .2s ease-in-out;

            & i {
                margin-right: .5rem;
            }

        }
    }

    &__link {
        display: inline-block;
        position: relative;
        text-align: center;
        padding: 2rem 0;
        text-decoration: none;
        color: $primary-color;
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
            color: $third-color;
        }
    }

    &-branding {
        &__title {
            & h1 {
                font-size: 3.6rem;
                margin-bottom: 1.5rem;
            }

            & h2 {
                font-size: 1.4rem;
                color: $secondary-color;
                font-weight: 300;
            }
        }
    }
}

.address {
    &-primary {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    &-secondary {
        font-size: 1.4rem;
    }
}

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////

// html {
//     font-family: 'Montserrat', sans-serif;
//     font-size: 62.5%;
//     color: $primary-color;
// }

// body {
//     font-size: 1.6rem;
// }



// .menu {

//     text-decoration: none;
//     list-style: none;
//     font-size: 2rem;
//     text-transform: uppercase;
//     font-weight: 600;

//     &__item {

//         & .active {
//             color: $primary-color;
//         }

//         & a {
//             text-decoration: none;
//             color: $secondary-color;
//         }
//     }

//     &-social__link i {
//         font-size: 3.5rem;
//     }
// }


// /////////////////////////////////////////////////////////

.header {
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
    }
}


// ///footer
.footer {

    &__navigation {
        font-size: 2rem;
        color: $secondary-color;
    }

    &__copyright {
        font-size: 1.2rem;
    }
}

.current {
    &-view {
        color: $primary-color;
        font-size: 2.4rem;
    }
}


// // menu

// .menu {

//     &__item {

//         & .active {
//             color: $primary-color;
//         }

//         & a {
//             text-decoration: none;
//             color: $secondary-color;

//         }

//     }
// }


// // //button
// .btn-cta__contact {
//     font-size: 2.5rem;
//     font-weight: 700;
//     color: $third-color;
//     text-decoration: none;

//     &:hover {

//         color: $primary-color;
//     }


// }

// // //SECTIONS

// // .section__title {
// //     & h1 {
// //         font-size: 3.5rem;
// //         font-weight: 700;
// //     }

// //     & h2 {
// //         font-size: 1.3rem;
// //         font-weight: 300;
// //         color: $secondary-color;
// //     }
// // }

// // //home

// .section-home__title {
//     text-align: right;

//     & h1 {
//         font-size: 7rem;
//         font-weight: 700;
//         margin-bottom: 5rem;
//     }

//     & h2 {
//         font-size: 2.7rem;
//         font-weight: 300;
//         color: $secondary-color;
//     }
// }

// // //about

// .section-about {
//     & h1 {
//         font-size: 3.5rem;
//         font-weight: 700;
//     }

//     & h2 {
//         font-size: 1.3rem;
//         font-weight: 300;
//         color: $secondary-color;
//     }

//     & h3 {
//         padding-bottom: 1.5rem;
//     }
// }

// // //contact



// a.menu-contact {

//     &__link {
//         color: $primary-color;
//         font-size: 1.2rem;
//         text-decoration: none;
//         transition: all .2s ease-in-out;

//         & i {
//             margin-right: 2rem;
//         }

//     }
// }

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////



// //footer
// .current {
//     &-full {
//         // border: 1px solid yellowgreen;

//         font-weight: 300;
//         font-size: 1.8rem;
//     }

//     &-view {
//         font-weight: 900;
//         font-size: 2.4rem;

//     }
// }