@import "animation";

//base imports
@import "variables";
@import "typography";
@import "layout";

//components
@import "components/base";
@import "components/button";
@import "components/menu";
@import "components/section";
@import "components/aside";



//media queries and RWD
@import "mobile";

.section-logo {
    display: flex;
    align-items: center;
}



.logo path:nth-child(1) {
    stroke-dasharray: 419.4037170410156;
    stroke-dashoffset: 419.4037170410156;
    animation: line 2s ease forwards, fill-primary .5s ease forwards 3s;
}

.logo path:nth-child(2) {
    stroke-dasharray: 126.08003234863281;
    stroke-dashoffset: 126.08003234863281;
    animation: line 2s ease forwards .3s, fill-primary .5s ease forwards 3s;
}

.logo path:nth-child(3) {
    stroke-dasharray: 282.5281982421875;
    stroke-dashoffset: 282.5281982421875;
    animation: line 2s ease forwards .6s, fill-primary .5s ease forwards 3s;
}


.logo path:nth-child(4) {
    stroke-dasharray: 296.96002197265625;
    stroke-dashoffset: 296.96002197265625;
    animation: line 2s ease forwards .9s, fill-primary .5s ease forwards 3s;
}

.logo path:nth-child(5) {
    stroke-dasharray: 272.384521484375;
    stroke-dashoffset: 272.384521484375;
    animation: line 2s ease forwards 1.2s, fill-primary .5s ease forwards 3s;
}

.logo path:nth-child(6) {
    stroke-dasharray: 197.34616088867188;
    stroke-dashoffset: 197.34616088867188;
    animation: line 2s ease forwards 1.5s, fill-primary .5s ease forwards 3s;
}

.logo path:nth-child(7) {
    stroke-dasharray: 282.5281982421875;
    stroke-dashoffset: 282.5281982421875;
    animation: line 2s ease forwards .6s, fill-secondary .5s ease forwards 3s;
}

.logo path:nth-child(8) {
    stroke-dasharray: 296.96002197265625;
    stroke-dashoffset: 296.96002197265625;
    animation: line 2s ease forwards .9s, fill-secondary .5s ease forwards 3s;
}

.logo path:nth-child(9) {
    stroke-dasharray: 272.384521484375;
    stroke-dashoffset: 272.384521484375;
    animation: line 2s ease forwards 1.2s, fill-secondary .5s ease forwards 3s;
}

.logo path:nth-child(10) {
    stroke-dasharray: 197.34616088867188;
    stroke-dashoffset: 197.34616088867188;
    animation: line 2s ease forwards 1.5s, fill-secondary .5s ease forwards 3s;
}

.logo path:nth-child(11) {
    stroke-dasharray: 419.4037170410156;
    stroke-dashoffset: 419.4037170410156;
    animation: line 2s ease forwards 1.8s, fill-secondary .5s ease forwards 3s;
}

.logo path:nth-child(12) {
    stroke-dasharray: 419.4037170410156;
    stroke-dashoffset: 419.4037170410156;
    animation: line 2s ease forwards 2.1s, fill-secondary .5s ease forwards 3s;
}

.logo path:nth-child(13) {
    stroke-dasharray: 419.4037170410156;
    stroke-dashoffset: 419.4037170410156;
    animation: line 2s ease forwards 2.4s, fill-secondary .5s ease forwards 3s;
}

// #logo path:nth-child(1) {
//     // animation: fill .6s ease forwards;

//     animation: fill .5s ease forwards 3s;
// }

@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-primary {
    from {
        fill: transparent;
    }

    to {
        fill: white;
    }
}

@keyframes fill-secondary {
    from {
        fill: transparent;
    }

    to {
        fill: #FF7F00;
    }
}

// .svg-logo path:nth-child(2) {
//     stroke-dasharray: 90px;
// }

// .svg-logo path:nth-child(1) {}

// .svg-logo path:nth-child(1) {}

// .svg-logo path:nth-child(1) {}

// .svg-logo path:nth-child(1) {}