.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 30px;
  padding: 0;
  // background-color: green;
  border: none;
  z-index: 201;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__line {
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
}


.btn {
  display: inline-block;
  border-radius: 5px;
  background-color: $color-secondary;
  text-decoration: none;
  color: $main-bg-dark;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem  2.5rem;
  width: fit-content;
  margin: 0 auto;
  &__icon {
    margin: 0 .5rem;
  }
}