.btn {
  display: inline-block;
  border-radius: 5px;
  border: none;
  background-color: $cl-secondary;
  text-decoration: none;
  color: $cl-primary-dark;
  font-size: $xm-size;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  width: fit-content;
  margin: 0 auto;
  &__icon {
    margin: 0 0.5rem;
  }
  &__project-card {
    font-size: $xxs-size;
    padding: .5rem .8rem;
  }
}


.btn-cta__contact {
  margin: 6rem 0;
}