/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////


.side-bars {
    position: absolute;
    top: 0;
    right: 5%;
    display: none;
    height: 100%;
    align-items: center;
    // border: 1px solid red;

    &__menu {
        // border: 1px solid yellowgreen;

        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: center;
        // padding: 15rem 1rem 15rem $padding-aside;
    }

    &__item {
        background-color: $secondary-color;
        flex: 1;
        width: 7px;
        border-radius: 3px;

        &:not(:last-child) {
            margin: 0 0 40px 0;

        }

        &.active {
            background-color: $primary-color;
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////