.section {
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem .5rem;
    overflow: hidden;
    // margin-bottom: 5rem;
    margin: 0 auto 5rem;
    max-width: 1000px;

    // &.most-visible {
    //     background-color: red;
    // }

    //     ///home 
    &-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &__left {
            position: absolute;
            top: 50vh;
            left: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 2;
            height: 50vh;
            width: 100%;
            transform: translate(-50%, -60%);
        }

        &__right {

            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            opacity: .2;
            width: fit-content;
        }

        &__img {
            height: 100%;
            width: auto;
        }

        &__title {
            text-align: center;

            & h2 {
                margin-top: 3rem;

            }
        }
    }



    // // //about

    .section-about {




        &__info {
            padding: 0 2rem;
            display: grid;
            grid-gap: 50px;
            grid-template-areas:
                'bio-image'
                'bio'
                'col-1 '
                'col-2 '
                'col-3 '
                // grid-template-columns: repeat(1, 1fr);

        }



    }

    .bio-image {
        grid-area: 'bio-image';
        margin: auto;
        border-radius: 50%;
        border: 3px solid $secondary-color;
        max-width: 200px;
        height: auto;
    }

    .bio {
        grid-area: bio;
        align-self: center;
    }



    .about__col-1 {
        grid-area: 'col-1';
    }

    .about__col-2 {
        grid-area: 'col-2';
    }

    .about__col-3 {
        grid-area: 'col-3';
    }

    .about__col,
    .bio {
        // border: 1px solid red;
        background-color: rgba($secondary-color, .1);
        padding: 2rem 1rem;
        border-bottom: 5px solid $secondary-color;
    }

    // // //skills


    .skills {
        &-box {
            // margin-bottom: 5rem;
            height: auto;
        }

        &-container {

            // border: 1px solid green;
            padding: 2rem 1.5rem;
            // height: 100%;
            display: flex;

            &__left {
                flex: 1;


            }

            // &__right {
            //     flex: 1;
            //     // border: 1px solid $secondary-color;
            //     border-radius: 5px;
            //     padding: 3rem 5rem;
            //     background: rgba(#979797, .3);
            //     overflow: hidden;
            // }
        }

        &-block {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            &__title {
                text-align: center;
                margin-bottom: 1rem;
            }

            &__icons {
                display: flex;
                justify-content: space-around;
                padding: 1.5rem 0;

                & .icon {
                    filter: grayscale(100%);
                    max-width: 4.73rem;

                    // transform: scale(.5);
                    transition: all .2s ease-in-out;

                    &:hover {
                        filter: grayscale(0);
                        transform: scale(1.2);
                    }

                    // &:not(:last-child) {
                    //     margin-right: 4rem;
                    // }
                }
            }
        }

        &-modal {
            visibility: hidden;
            padding: 1.6rem 0;
            margin: 0 2rem;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            border-bottom: 2px solid $secondary-color;

            border-top: 2px solid $secondary-color;
            transition: all .4s ease;


            & h3 {
                font-size: 1.8rem;

                margin-bottom: 1rem;
            }

            & p {
                font-size: 1.4rem;
            }

            &.show {
                visibility: visible;
                max-height: 1000px;
                opacity: 1;
                margin: 0 2rem 7rem;
                // transition: opacity 0.2s linear 2s, all 2.5s;
                @include easeInFast;

            }
        }

    }

    .skill-description-title {
        padding-bottom: 2rem;
    }


    // // //projects



    .projects-gallery {
        // border: 1px solid red;
        width: 90%;
        padding: 1.5rem;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        justify-items: center;

        &__item {
            border: 2px solid $secondary-color;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            background-position: center;
            max-height: calc(90vw);
            width: 100%;
            max-width: 350px;

            &:hover .image-overlay {
                bottom: 0;

                background-color: rgba(#22455c, $alpha: .9);

                // &__title {
                //     padding-bottom: 1.6rem; test

                //     transition: all .8s ease-in-out;
                // }

                &__item {
                    // padding-bottom: 1.5rem;
                    transform: translate3d(0, 0, 0);
                    // @include easeOut;
                }
            }

            &:hover .image {
                transform: scale(1.1);
                filter: blur(10px);
            }

        }
    }



    .image {
        display: block;
        width: auto;
        height: 100%;
        transform: scale(1);
        filter: blur(0px);
        text-align: center;
        overflow-x: hidden;
        transition: all .8s ease-in-out;

    }

    .image-overlay {
        // border: 1px solid red;
        height: 100%;
        padding: 2rem;
        position: absolute;
        width: 100%;
        bottom: calc((100% - 5.5rem) * -1);
        left: 0;
        background-color: rgba(#0e212e, $alpha: .7);
        transition: all .4s cubic-bezier(.66, .01, .44, .99);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            padding-bottom: 1.6rem;
            border-bottom: 2px solid $secondary-color;
            transition: all .8s ease-in-out;
            justify-self: flex-start;
        }

        &__description {
            padding: 1.5rem 0 2rem;
            font-size: 1.2rem;
        }

        &__h5 {
            font-size: 1.4rem;

        }

        &__tech-container {
            padding: 1.5rem 0;
            display: flex;
            justify-content: space-between;

        }

        &__link-box {
            border-top: 2px solid $secondary-color;
            padding-top: 2rem;
            display: flex;
            justify-content: space-evenly;
        }

        &__item {
            transform: translate3d(0, 1000px, 0);
            @include easeOut;


        }


    }

    &-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
        max-width: 800px;
        margin: 0 auto;

    }



    .address,
    .menu-contact__item {
        background: rgba(#979797, .1);
        border-radius: 7px;
        padding: 1.5rem 2.5rem;
        border: 2px solid transparent;
        transition: all .3s ease-in-out;
        margin: 10% 2rem;

    }


}


@for $x from 1 through 4 {
    .image-overlay__item:nth-child(#{$x}) {
        transition-delay: $x * .1s;
    }
}

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////


// .section {
//     min-height: 100%;
//     display: flex;
//     justify-content: center;
//     padding: 1.5rem 3rem;
//     overflow: hidden;

//     ///home 
//     &-home {
//         &__title {
//             padding: 0 3rem;
//             border-right: 6px solid white;
//             margin-bottom: 10rem;

//         }

//         &__left {

//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;
//             // justify-content: center;
//             // flex: 1;
//             height: 70%;
//         }

//         &__right {
//             padding: 0 3rem;
//             max-height: 90%;
//             max-width: 50%;
//         }

//         &__img {
//             margin: 0 auto;
//             height: 100%;
//             width: auto;
//         }

//         & .btn {
//             margin-right: 2rem;
//         }
//     }
// }


// // //about

// .section-about {
//     padding: 0 5em;

//     // &-info,
//     // &__title {
//     //     padding: 2rem 0;

//     // }

//     &__info {
//         display: grid;
//         grid-gap: 50px;
//         grid-template-areas:
//             'bio-image bio bio'
//             'about__col-1 about__col-2 about__col-2';
//         grid-template-columns: repeat(3, 1fr);

//     }



// }

// .bio-image {
//     grid-area: 'bio-image';
//     margin: auto;
//     border-radius: 50%;
//     border: 3px solid $secondary-color;
// }

// .bio {
//     grid-area: bio;
//     align-self: center;
// }



// .about__col-1 {
//     grid-area: 'about__col-1';
// }

// .about__col-2 {
//     grid-area: 'about__col-2';
// }

// .about__col-3 {
//     grid-area: 'about__col-3';
// }

// .about__col,
// .bio {
//     // border: 1px solid red;
//     background-color: rgba($secondary-color, .1);
//     padding: 1.5rem 1rem;
//     border-bottom: 5px solid $secondary-color;
// }

// // //skills


// .skills {
//     &-container {

//         // border: 1px solid green;
//         padding: 2rem 8rem;
//         height: 100%;
//         display: flex;

//         &__left {
//             flex: 2.5;


//         }

//         &__right {
//             flex: 2.5;
//             // border: 1px solid $secondary-color;
//             border-radius: 5px;
//             padding: 3rem 5rem;
//             background: rgba(#979797, .3);
//             overflow: hidden;
//         }
//     }

//     &-block {
//         display: flex;
//         flex-direction: column;

//         // &__title {
//         //     padding-bottom: 1rem;
//         // }

//         &__icons {

//             padding: 2.5rem 0 6rem 0;

//             & .icon {
//                 filter: grayscale(100%);

//                 // transform: scale(.5);
//                 transition: all .2s ease-in-out;

//                 &:hover {
//                     filter: grayscale(0);
//                     transform: scale(1.2);
//                 }

//                 &:not(:last-child) {
//                     margin-right: 4rem;
//                 }
//             }
//         }
//     }

// }

// .skill-description-title {
//     padding-bottom: 2rem;
// }


// // //projects



// .projects-gallery {
//     // border: 1px solid red;
//     width: 90%;
//     padding: 1.5rem;

//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 1.5rem;

//     &__item {
//         border: 2px solid $secondary-color;
//         border-radius: 5px;
//         position: relative;
//         overflow: hidden;
//         background-position: center;
//         height: auto;

//         &:hover .image-overlay {
//             bottom: 0;

//             background-color: rgba(#22455c, $alpha: .9);

//             &__title {
//                 padding-bottom: 1.6rem;

//                 transition: all .8s ease-in-out;
//             }
//         }

//         &:hover .image {
//             transform: scale(1.1);
//             filter: blur(10px);
//         }

//     }
// }



// .image {
//     display: block;
//     width: auto;
//     height: 100%;
//     transform: scale(1);
//     filter: blur(0px);
//     text-align: center;
//     overflow-x: hidden;
//     transition: all .8s ease-in-out;

// }

// .image-overlay {
//     // border: 1px solid red;
//     height: 100%;
//     padding: 2rem;
//     position: absolute;
//     width: 100%;
//     bottom: -75%;
//     left: 0;
//     background-color: rgba(#0e212e, $alpha: .7);
//     transition: all .4s cubic-bezier(.66, .01, .44, .99);

//     &__title {
//         padding-bottom: 13.6rem;
//         border-bottom: 2px solid $secondary-color;
//         transition: all .8s ease-in-out;
//     }

//     &__description {
//         padding: 2rem 0 2.5rem;
//         font-size: 1.2rem;
//     }

//     &__h5 {
//         font-size: 1.4rem;

//     }

//     &__tech-container {
//         padding: .7rem 0;

//         & .icon {
//             transform: scale(.5)
//         }
//     }

//     &__link-box {
//         display: flex;
//         justify-content: space-evenly;
//     }


// }

// //contact

// .section-contact {
//     display: flex;
//     flex-direction: column;
//     // border: 1px solid red;
//     justify-content: center;

// }



// .address {
//     margin-bottom: 10rem;
// }


// .address,
// .menu-social-contact__item {
//     background: rgba(#979797, .1);
//     border-radius: 7px;
//     padding: 1.5rem 2.5rem;
//     border: 2px solid transparent;
//     transition: all .3s ease-in-out;

// }

// .menu-social-contact__item:hover {
//     background: rgba(#242323, .8);
//     border: 2px solid $third-color;
//     color: $third-color;
//     transform: scale(.9);
//     transition: all .3s ease-in-out;

// }

// .menu-social-contact {
//     // border: 1px solid red;
//     min-width: 50%;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 5rem;
//     justify-items: center;

//     &__item {
//         // border: 1px solid red;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: fit-content;
//     }

// }


/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////pierwsza wersja////////////////////