.container {
  background-color: $color-primary;

  &-navbar {
    height: 100%;
    background-color: $main-bg-dark;
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 350px;
    z-index: 200;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &.open {
      transform: translateX(0);
    }
  }
}

.branding {
  margin: 10vh auto 0; 
  display: flex;
  &__portrait {
    background-color: #fff;
    background: url("./images/portrait_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(50%);
    height: 150px;
    width: 150px;
    border: 2px solid $color-secondary;
    border-radius: 50%;
    margin: 0 auto;
  }
}
