.project-card {
  display: flex;
  height: 400px;
  width: 100vw;
  padding: 0 0 2rem;
  position: relative;
  margin-bottom: 4rem;
  max-width: 350px;
  justify-self: center;
  &:nth-child(even) {
    flex-direction: row-reverse;
    & .project-card__description {
      right: 0;
      text-align: right;
    }
  }

  &__number-container {
    flex: 2;
  }
  &__number {
    margin: 0;
  }
  &__img {
    flex: 7;
    min-height: 20rem;
    background: url("../images/project1.jpg");
    background-size: cover;
  }
  &__description {
    position: absolute;
    bottom: 15%;
    max-width: 80%;
    background-color: rgba(#33362C, 0.7);
    padding: 0.4rem 0.6rem 0.4rem .3rem;
    border-radius: 3px;
  }

  &::before {
    content: "";
    background-color: $cl-secondary;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 3px;
    width: 70%;
    opacity: 0.6;
  }
}
