.container-about {
  justify-content: space-evenly;
}

.about-card {
  padding: 0 2rem 3rem;
  max-width: 60rem;
  border-bottom: 1px solid $cl-secondary;

  &__title {
    color: $cl-secondary;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  &__description {
    font-size: $xs-size;
  }
}
