.contact-page {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
  }
}
.container-contact {
  justify-content: center;
}

.container-social {
  height: 40vh;
  // margin-bottom: 15vh;
  color: $cl-secondary;
  font-size: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  & a {
    color: $cl-secondary;
    display: inline-block;
    line-height: 1;
  }
}

.location {
    text-align: center;
    margin:  2rem 0 5rem;
  & h3 {
    color: $cl-secondary;
    font-size: 2rem;
    & span {
        color: #fff;
        font-size: 1.8rem;
      font-weight: 300;
    }
  }
  & p {
      font-size: 1.3rem;
  }
}

.questions {
  @extend .location;
  margin: 0 0 2rem;
}