@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }
  .container-navbar {
    display: none;
    visibility: hidden;
  }
  .container-main {
    height: calc(100% - 72px);
  }

  .nav-menu {
    flex-direction: row;
    align-items: center;

    &__item {
      width: 100%;
      text-align: center;
      line-height: 2.5;

      //   height: 100%;
      //   display: flex;
      align-items: center;

      & a {
        height: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .header {
    background: $dark-blue;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $m-size $l-size;

    &__title {
      text-decoration: none;
      color: white;
      & h1 {
        margin: 0;
      }
    }
  }
}
