

//nowe kolory
$main-bg-dark: #2B3A42;
$color-secondary: #acd162;


// Colors

//font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//colors
$color-primary: #464646;
$color-link: #9acd32;

//font sizes
$fs-m: 1.6rem;

//font-colors
$fc-primary: #fff;
$fc-secondary: #acd162;

//header height
$header-height: 5;
