.page {
    &__title {
        font-size: $ml-size;
        & span {
            color: $cl-secondary;
        }
        display: flex;
        justify-content: space-evenly;
    }
    h2 {
        font-size: $m-size;
    }
    p {
        font-size: $s-size;
    }
}