.page {
    &__title {
        font-size: 4rem;
        display: inline-flex;
        min-width: 350px;
        justify-content: space-evenly;
        margin: 1rem auto;
        & span {
            color: $cl-secondary;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: $xm-size;
        text-align: center;
    }
    &__description {
        font-size: $xs-size;
        line-height: 1.7;
    }
}